:host {
    color: white;
    height: 100vh;
    padding: 10px;
    position: fixed;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    fa-icon {
        cursor: pointer;
    }
}
