<app-slider (slider)="test($event)"></app-slider>


<app-banner id="banner0"
            [placement]="'left'"
            [background]="'#f53838'"></app-banner>
<app-banner id="banner1"
            [background]="'#2f8853'"></app-banner>
<app-banner id="banner2"
            [placement]="'right'"
            [background]="'#2f5b88'"></app-banner>
<app-banner id="banner3"
            [placement]="'upper-left'"
            [background]="'#973a98'"></app-banner>
<app-banner id="banner4"
            [placement]="'upper-right'"
            [background]="'#3a987e'"></app-banner>
<app-banner id="banner5"
            [placement]="'lower-right'"
            [background]="'#98883a'"></app-banner>
<app-banner id="banner6"
            [placement]="'lower-left'"
            [background]="'#ff5722'"></app-banner>