@import "layout/hamburger";

@mixin hamburger {
    align-items: center;
    margin: 10px;

    // background: $hamburger-background;
    background: none;
    border: $hamburger-border;
    // border-radius: $hamburger-border-radius;
    // box-shadow: $hamburger-box-shadow;

    color: $hamburger-color;
    cursor: $hamburger-cursor;
    outline: $hamburger-outline;

    height: $hamburger-height;
    width: $hamburger-width;
}

@mixin overlay {
    background-color: rgba(0, 0, 0, 0.75);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
